In [1]:
#36.
l=[1,2,3,4,5]
new_list=[]
for i in l:
    new_list.append(i**2)
print(new_list)

[1, 4, 9, 16, 25]

In [2]:
#37.
l=[1,2,3,4,5]
dic={}
for i in range(len(l)):
    dic[l[i]]=i
print(dic)

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4}

In [3]:
#38.
import random
l=[1,2,3,4,5]
random.shuffle(l)
print(l)

[4, 3, 2, 1, 5]

In [4]:
#39.
num=15
j=2
while num!=1:
    if num%j==0:
        print(j)
        num=num/j
    else:
        j=j+1

3
5

In [5]:
#39.
dic={}
for num in range(1,11):
    j=2
    l=[]
    c=num
    while num!=1:
        if num%j==0:
            l.append(j)
            num=num/j
        else:
            j=j+1
    dic[c]=l
print(dic)

{1: [], 2: [2], 3: [3], 4: [2, 2], 5: [5], 6: [2, 3], 7: [7], 8: [2, 2, 2], 9: [3, 3], 10: [2, 5]}

In [6]:
#40.
l1=[1,2,3,4,5]
l2=[4,6,7,3,2]
s1=set(l1)
s2=set(l2)
s3=s1.intersection(s2)
if len(list(s3))>=1:
    print('yes at lease one element is common')
else:
    print('no')

yes at lease one element is common

In [7]:
#41.
l1=[1,2,3,4]
l1.clear()
print(l1)

[]

In [8]:
#42.
l=[-2,3,-1,4,5,-6]
for i in range(len(l)):
    if l[i]<0:
        l.remove(l[i])
        l.insert(i,0)
print(l)

[0, 3, 0, 4, 5, 0]

In [9]:
#43.
st='my name is arpan'
k=st.split()
print(k)

['my', 'name', 'is', 'arpan']

In [10]:
#44.
ls=['my', 'name', 'is', 'ashish']
k=' '.join(ls)
print(k)

my name is ashish

In [11]:
#45.
n=3
k=1
for i in range(1,n+1):
    k=k*2
print(k)
print(2**3)

8
8

In [12]:
#46.
ls=['word','fight','vishakapatnam','Trivantipuram']
max1=0
c=0
for i in range(len(ls)):
    if max1<len(ls[i]):
        max1=len(ls[i])
        c=i
print(ls[c],max1)

vishakapatnam 13

In [13]:
#47.
ls=['word','fight','vishakapatnam','Trivantipuram','bho']
min1=len(ls[0])
c=0
for i in range(len(ls)):
    if min1>len(ls[i]):
        min1=len(ls[i])
        c=i
print(ls[c],min1)

bho 3

In [14]:
#48.
j=0
l=[]
for i in range(1,6):
    j=j+i
    l.append(j)
print(l)

[1, 3, 6, 10, 15]

In [15]:
#50.
lst=[1,3,2,5,7]
i=1
j=2
temp=lst[i]
lst[i]=lst[j]
lst[j]=temp
print(lst)

[1, 2, 3, 5, 7]

# Tuple

In [16]:
#1.
k=1,2,3,4,5
print(k)
print(type(k))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [17]:
#2
print(k[2])

3

In [18]:
#3
k=(1,2,3,4)
count=0
for i in k:
    count=count+1
print(count)
print(type(k))

4
<class 'tuple'>

In [19]:
#4.
n=2
k.count(n)

1

In [20]:
#5.
k.index(1)

0

In [21]:
#6.
ele=4
if ele in k:
    print(True)
else:
    print(False)

True

In [22]:
#7.
lst=list(k)
print(lst)

[1, 2, 3, 4]

In [23]:
#8.
tup=tuple(lst)
print(tup)

(1, 2, 3, 4)

In [24]:
#9.
a,b,c,d=tup
print(a)
print(b)
print(c)
print(d)
#or
print('----')
a,b,*c=tup
print(a)
print(b)
print(c)
#or
print('----')
a,b,c,_=tup
print(a)
print(b)
print(c)
print(_)
#or
print('---')
a,b,*_=tup
print(a)
print(b)
print(_)

1
2
3
4
----
1
2
[3, 4]
----
1
2
3
4
---
1
2
[3, 4]

In [25]:
#10.
k=[i for i in range(1,11) if i%2==0]
print(tuple(k))

(2, 4, 6, 8, 10)

In [26]:
#11.
k=[i for i in range(1,11) if i%2!=0]
print(tuple(k))

(1, 3, 5, 7, 9)

In [27]:
#12
tup1=(1,2,3)
tup2=(4,4,5)
tup3=tup1+tup2
print(tup3)

(1, 2, 3, 4, 4, 5)

In [28]:
#13.
print(tup1*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [29]:
#14.
tup4=(1,)
if len(tup4)==0:
    print(True)
else:
    print(False)

False

In [30]:
#15.
lst=[[1,2,3],4,5,6]
for i in range(len(lst)):
    if type(lst[i])==list:
        c=lst[i]
        lst.remove(lst[i])
        lst.insert(i,tuple(c))
tup=tuple(lst)
print(tup)

((1, 2, 3), 4, 5, 6)

In [31]:
#16.
tup[0][0]

1

In [32]:
#17.
k=1,
print(k)
print(type(k))

(1,)
<class 'tuple'>

In [33]:
#18.
tup=1,2,3
tup2=4,3,2
if len(tup)==len(tup2):
    print(True)
else:
    print(False)

True

In [34]:
#19.
print(tup2)
del tup
print(tup)

(4, 3, 2)

NameError: name 'tup' is not defined

In [35]:
#20.
print(tup2[0:2])

(4, 3)

In [36]:
#21.
tup3=(1,2,99,5)
print(max(tup3))

99

In [37]:
#22.
print(min(tup3))

1

In [38]:
#23.
s='mu name is arpan'
f=tuple(s)
print(f)

('m', 'u', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'a', 'r', 'p', 'a', 'n')

In [39]:
#24.
''.join(f)

'mu name is arpan'

In [40]:
#25.
tup=(1,'e',2.3,'@',True)
print(tup)

(1, 'e', 2.3, '@', True)

In [41]:
#26.
tup1=(1,'e',2.3,'@',True)
tup2=(1,2,3,4,5)
if tup1==tup:
    print(True)
else:
    print(False)

True

In [42]:
#27.
tup4=(2,1,5,4)
k=list(tup4)
k.sort()
tup4=tuple(k)
print(tup4)

(1, 2, 4, 5)

In [43]:
#28.
k=[]
for i in tup4:
    k.append(str(i))
tup=tuple(k)
print(tup)

('1', '2', '4', '5')

In [44]:
#29.
k=[]
for i in tup:
    k.append(int(i))
tup4=tuple(k)
print(tup4)

(1, 2, 4, 5)

In [45]:
#30.
tup5=tup4+tup
print(tup5)

(1, 2, 4, 5, '1', '2', '4', '5')

In [46]:
#31.
tup=((1,2,3),4,5,6)
tup1=()
k=[]
for i in range(len(tup)):
    if type(tup[i])==tuple:
        for j in tup[i]:
            k.append(j)
    else:
        k.append(tup[i])
print(tuple(k))

(1, 2, 3, 4, 5, 6)

In [47]:
#32.
c=(1,3,5,7,11)
print(c)

(1, 3, 5, 7, 11)

In [48]:
#33.
c=(1,0,1)
k=c[::-1]
if k == c:
    print('its a polindrom number')
else:
    print('its not a polindrome number')

its a polindrom number

In [49]:
#34.
c=(1,2,3,4,5)
k=[]
for i in c:
    k.append(i**2)
print(tuple(k))

(1, 4, 9, 16, 25)

In [50]:
#35.
c=(1,2,3,4,5,6)
k=[]
for i in c:
    if i%2==0:
        k.append(i)
print(k)

[2, 4, 6]

In [51]:
#36.
c=(2,8,5,4,9)
k=[i*2 for i in c]
print(tuple(k))

(4, 16, 10, 8, 18)

In [52]:
#37.
import random
k=[]
for i in range(5):
    k.append(random.randint(1,10))
tup=tuple(k)
print(tup)

(3, 2, 3, 1, 7)

In [53]:
#38.
k.sort()
f=tuple(k)
print(f)

(1, 2, 3, 3, 7)

In [54]:
#39.
tup=(1,2,3,4,5)
k=[]
n=2
for i in range(n,len(tup)):
    k.append(tup[i])
for j in range(n):
    k.append(tup[j])
tup=tuple(k)
print(tup)

(3, 4, 5, 1, 2)

In [55]:
#40.
tup=(3,2,5,1,2)
pos=1
k=[]
for i in range(len(tup)-pos,len(tup)):
    k.append(tup[i])
for j in range(len(tup)-pos):
    k.append(tup[j])
tup=tuple(k)
print(tup)

(2, 3, 2, 5, 1)

In [56]:
#41.
k=[1,]
a=1
b=0
for i in range(5):
    a=a+b
    k.append(a)
    b=a-b
print(tuple(k))

(1, 1, 2, 3, 5, 8)

In [58]:
#42.
k=[]
for i in range(5):
    k.append(int(input()))
print(tuple(k))

1
2
3
4
5
(1, 2, 3, 4, 5)

In [59]:
#43.
k=(1,5,2,8,4)
lst=list(k)
temp=lst[1]
lst[1]=lst[2]
lst[2]=temp
print(tuple(lst))

(1, 2, 5, 8, 4)

In [60]:
#44.
k=(1,2,3)
rev=k[::-1]
print(rev)

(3, 2, 1)

In [61]:
#45.
k=[]
for i in range(10):
    k.append(2**i)
print(k)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [62]:
#46.
tup=('hello','uttarPradesh','Rajasthan','Vishakapatnam')
max1=0
c=0
for i in tup:
     if max1<len(i):
            max1=len(i)
            c=i
print(c)

Vishakapatnam

In [63]:
#47.
tup=('hello','uttarPradesh','Rajasthan','Vishakapatnam','bhuj')
min1=len(tup[0])
c=0
for i in tup:
     if min1>len(i):
            min1=len(i)
            c=i
print(c)

bhuj

In [64]:
#48.
n=5
j=0
k=[]
for i in range(1,n+1):
    j=i+j
    k.append(j)
print(tuple(k))

(1, 3, 6, 10, 15)

In [65]:
#Check if a tuple contains another tuple as a subsequence.
k=((1,2,3),3,4)
if list(k).issubset([3,4]):
    print(True)
else:
    print(False)

AttributeError: 'list' object has no attribute 'issubset'

In [66]:
#50.
n=5
k=[0 if i%2==0 else 1  for i in range(n+1)]
print(k)

[0, 1, 0, 1, 0, 1]

# Set

In [67]:
#1.
set1={1,2,3,4,5}
print(set1)
print(type(set1))

{1, 2, 3, 4, 5}
<class 'set'>

In [68]:
#2.
set1.add(6)
print(set1)

{1, 2, 3, 4, 5, 6}

In [69]:
#3.
set1.remove(6)
print(set1)

{1, 2, 3, 4, 5}

In [70]:
#4.
n=6
if n in set1:
    print(True)
else:
    print(False)

False

In [71]:
#5.
count=0
for i in set1:
    count=count+1
print(count)

5

In [72]:
#6.
set1.clear()
print(set1)

set()

In [73]:
#7.
for i in range(1,11):
    if i%2==0:
        set1.add(i)
print(set1)

{2, 4, 6, 8, 10}

In [74]:
#8.
set1.clear()
for i in range(1,11):
    if i%2!=0:
        set1.add(i)
print(set1)

{1, 3, 5, 7, 9}

In [75]:
#9.
set2={2,3,5,7,8,6}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 5, 6, 7, 8, 9}

In [76]:
#10.
set4=set1.intersection(set2)
print(set4)

{3, 5, 7}

In [77]:
#11.
set5=set1.difference(set2)
print(set5)

{1, 9}

In [78]:
#12.
set1={1,2,3,4}
set2={1,2,3,4,5,6}
k=set1.issubset(set2)
print(k)

True

In [79]:
#13.
set2.issuperset(set1)

True

In [80]:
#14.
lst=[1,2,3,4,5]
set1=set(lst)
print(set1)

{1, 2, 3, 4, 5}

In [81]:
#15.
lst=list(set1)
print(lst)

[1, 2, 3, 4, 5]

In [82]:
#16.
import random
set1={1,2,3,4,5,6}
set1.remove(random.choice(list(set1)))
print(set1)

{1, 2, 4, 5, 6}

In [83]:
#17.
set1.pop()

1

In [84]:
#18.
set3={3,4,5}
set4={1,2,9}
k=set3.intersection(set4)
if len(k)==0:
    print(True)
else:
    print(False)

True

In [85]:
#19.
set1={1,2,3,4}
set2={3,4,5,6}
k=set1.intersection(set2)
set3=set1.union(set2)
symmetric_set=set3.difference(k)
print(symmetric_set)

{1, 2, 5, 6}

In [86]:
#20.
set1={1,2,3}
set2={4,5,6}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6}