In [6]:
#21.
k=set()
j=2
m=0
count=0
while m!=5:
    for i in range(2,j+1):
        if j%i==0:
            count=count+1
    if count==1:
        k.add(j)
        m=m+1
    count=0
    j=j+1
    
print(k)

{2, 3, 5, 7, 11}

In [10]:
#22.
set1={1,2,3}
set2={1,2,3}
if set1==set2:
    print(True)
else:
    print(False)

True

In [11]:
#23.
frozenset(set1)

frozenset({1, 2, 3})

In [12]:
#24.
set1={1,2,3}
set3={4,5,6}
if set1==set3:
    print('its not a disjoint set')
else:
    print('its a disjoint set')

its a disjoint set

In [13]:
#25.
set1=set()
for i in range(1,6):
    set1.add(i**2)
print(set1)

{1, 4, 9, 16, 25}

In [16]:
#26.
set1={2,4,6,8,9,10}
k=set()
for i in set1:
    if i%2==0:
        k.add(i)
print(k)

{2, 4, 6, 8, 10}

In [20]:
#27.
set1={1,2,3,4}
f=set()
for i in set1:
    f.add(i*2)
print(f)

{8, 2, 4, 6}

In [23]:
#28.
import random
k=set()
for i in range(8):
    f=random.randint(1,20)
    k.add(f)
print(k)

{2, 5, 6, 10, 13, 14, 20}

In [25]:
#29.
k=set()
if len(k)==0:
    print('its empty')
else:
    print('its not empty')

its empty

In [27]:
#30.
s = set([frozenset([1,2]), frozenset([3,4])])
print(s)

{frozenset({3, 4}), frozenset({1, 2})}

In [28]:
#31.
set1={1,2,3,4,5}
set1.discard(2)
set1

{1, 3, 4, 5}

In [29]:
#32.
set1={1,2,3}
set2={4,5,6}
if len(set1)==len(set2):
    print('yes length of set1 and set are same')
else:
    print('no length of set1 and set2 are not same')
if set1==set2:
    print('set1 and set2 both are same')
else:
    print('sorry set1 and set2 are not same')

yes length of set1 and set are same
sorry set1 and set2 are not same

In [36]:
#33.
s='1 2 3 4 5'
f=set(s)
f.discard(' ')
print(f)

{'4', '3', '5', '1', '2'}

In [40]:
#34.
k=set()
for i in f:
    k.add(int(i))
print(k)

{1, 2, 3, 4, 5}

In [41]:
#35.
m=set()
for i in k:
    m.add(str(i))
print(m)

{'3', '5', '1', '2', '4'}

In [42]:
#36.
tup=(1,2,3,4)
s=set(tup)
print(s)

{1, 2, 3, 4}

In [43]:
#37.
tup=tuple(s)
print(tup)

(1, 2, 3, 4)

In [44]:
#38. s={1,2,3,4}
print(max(s))

4

In [45]:
#39.
print(min(s))

1

In [46]:
#40.
k=set()
user=int(input())
k.add(user)
print(k)

1
{1}

In [53]:
#41.
s1={7,0,9,5}
s2={2,3,4,1}
if len(s1.intersection(s2)) == 0:
    print(True)
else:
    print(False)

True

In [56]:
#42.
k=set()
a=1
b=0
for i in range(7):
    a=a+b
    k.add(a)
    b=a-b
print(k)

{1, 2, 3, 5, 8, 13, 21}

In [57]:
#43.
lst=[1,1,2,2,3,4,5,5]
set1=set(lst)
print(set1)

{1, 2, 3, 4, 5}

In [58]:
#44.
set1={1,2,3,4,5}
set2={1,2,3,4,5}
if set1==set2:
    print('its same elements')
else:
    print('no its not a same elements')

its same elements

In [59]:
#45.
set1=set()
n=5
for i in range(n):
    set1.add(2**i)
print(set1)

{1, 2, 4, 8, 16}

In [60]:
#46.
lst=[1,2,3,4,5]
set1={2,3,4,9,8}
k=set(lst)
m=k.intersection(set1)
print(m)

{2, 3, 4}

In [61]:
#47.
num=5
j=0
set1=set()
for i in range(1,num+1):
    j=j+i
    set1.add(j)
print(set1)

{1, 3, 6, 10, 15}

In [67]:
#48.
set1={1,2,3,4,5}
set2={1,2,3}
set2.issubset(set1)

True

In [70]:
#49.
num=5
k=set()                  #set does not contains duplicates values so its only return 0 and 1 single time
for i in range(num):
    if i%2==0:
        k.add(0)
    else:
        k.add(1)
print(k)

{0, 1}

In [78]:
#50.
set1={1,2,3}
set2={4,5,6}
set3={8,9,0}
set2.update(set3)
set1.update(set2)
print(set1)

{0, 1, 2, 3, 4, 5, 6, 8, 9}