In [1]:
#String
'''1.Write a program to reverse a string.
2. Check if a string is a palindrome.
3. Convert a string to uppercase.
4. Convert a string to lowercase.
5. Count the number of vowels in a string.
6. Count the number of consonants in a string.
7. Remove all whitespaces from a string.
8. Find the length of a string without using the `len()` function.
9. Check if a string contains a specific word.
10. Replace a word in a string with another word.
11. Count the occurrences of a word in a string.
12. Find the first occurrence of a word in a string.
13. Find the last occurrence of a word in a string.
14. Split a string into a list of words.
15. Join a list of words into a string.'''

'1.Write a program to reverse a string.\n2. Check if a string is a palindrome.\n3. Convert a string to uppercase.\n4. Convert a string to lowercase.\n5. Count the number of vowels in a string.\n6. Count the number of consonants in a string.\n7. Remove all whitespaces from a string.\n8. Find the length of a string without using the `len()` function.\n9. Check if a string contains a specific word.\n10. Replace a word in a string with another word.\n11. Count the occurrences of a word in a string.\n12. Find the first occurrence of a word in a string.\n13. Find the last occurrence of a word in a string.\n14. Split a string into a list of words.\n15. Join a list of words into a string.'

In [2]:
#1. 
n='mynameis arpan '
rev=n[::-1]
print(rev)

 napra siemanym

In [3]:
#2.
n='heh'
rev=n[::-1]
if n == rev:
    print("its a polindrome")
else:
    print("its not a polindrome")

its a polindrome

In [4]:
#3.
lwr='my name is arpan gupta'
upr=lwr.upper()
print(upr)

MY NAME IS ARPAN GUPTA

In [5]:
#4.
upr1='MY NAME IS ARPAN GUPTA'
lwr1=upr1.lower()
print(lwr1)

my name is arpan gupta

In [6]:
#5.a,e,i,o,u
vowel_str='everyone'
count=0
for i in vowel_str:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
        count=count+1
print(count)

4

In [7]:
#6.
vowel_str='hello everyone'
count1=0
for i in vowel_str:
    if i!='a' and i!='e' and i!='i' and i!='o' and i!='u' and i!=' ':
        count1=count1+1
print(count1)

7

In [8]:
#7.Remove all whitespaces from the strings
space_str='a r pan g u pta'
b=''
for i in space_str:
    if i!=' ':
        b=b+i
print(b)

arpangupta

In [9]:
#8
length_string='bhopal ismyplace'
count3=0
for i in length_string:
    count3=count3+1
print(count3)

16

In [10]:
#9
sentence='india is my country'
word='my'
if word in sentence:
    print(True)
else:
    print(False)

True

In [11]:
#10.Replace a word in a string with another word
sen='good morning mumbai'
new_sen=sen.replace('mumbai','bhopal')
print(new_sen)

good morning bhopal

In [12]:
#11
sen1='good morning morning bhopal bhopal mumbai delhi kolkata'
lst=set(sen1.split(' ')) #In this first sentence is splitting into the words and covert in the list and then converted into the 
                            #set for removal of duplication of words.
for i in lst:
    print(i,' ',sen1.count(i)) #its gives count of every word

morning   2
good   1
bhopal   2
kolkata   1
delhi   1
mumbai   1

In [13]:
#12
sen2='good morning morning bhopal bhopal mumbai delhi kolkata'
sen2.find('morning')

5

In [14]:
#13
sen3='good morning morning bhopal bhopal mumbai delhi kolkata'
sen3.find('bhopal')

21

In [15]:
#14
sen4='good morning morning bhopal bhopal mumbai delhi kolkata'
sen4.split(' ')

['good',
 'morning',
 'morning',
 'bhopal',
 'bhopal',
 'mumbai',
 'delhi',
 'kolkata']

In [16]:
#15
words2='orange banana apple'
new_word='pineapple graps lichy papaya'
words3=words2+' '+new_word
words3

'orange banana apple pineapple graps lichy papaya'

In [17]:
#16.
s='Hi my name is arpan gupta'
k=s.replace(' ','_')
print(k)

Hi_my_name_is_arpan_gupta

In [18]:
#17.
s='Hello World!'
start='Hello'
k=s.split()
if k[0] == start:
    print('Yes its start with a specific word')
else:
    print('no its not start with a specific word')

Yes its start with a specific word

In [19]:
#18.
s='Hello World!'
ends='World!'
k=s.split()
if ends==k[-1]:
    print('yes its ends with a specific word')
else:
    print('no its not ends with a specific word')

yes its ends with a specific word

In [20]:
#19.
s='hello arpan'
new_s=s.title()
print(new_s)

Hello Arpan

In [21]:
#20.
s='Good morning Vishakapatnam'
dic={}
k=s.split()
for i in k:
    dic[len(i)]=i
l=max(list(dic.keys()))
print(dic[l],':',l)

Vishakapatnam : 13

In [22]:
#21.
s='Good morning Bhuj'
dic={}
k=s.split()
for i in k:
    dic[len(i)]=i
l=min(list(dic.keys()))
print(dic[l],':',l)

Bhuj : 4

In [23]:
#22.
s='I have done my graduation from oist'
k=s.split()
m=' '.join(k[::-1])
print(m)

oist from graduation my done have I

In [24]:
#23.
s='arpan123'
print(s.isalnum())

True

In [25]:
#24.
s='arpangupta630'
b=''
for i in s:
    if i in ['0','1','2','3','4','5','6','7','8','9']:
        b=b + i
print(int(b))

630

In [26]:
#25.
s='arpangupta730'
b=''
for i in s:
    if i not in ['0','1','2','3','4','5','6','7','8','9']:
        b=b + i
print(b)

arpangupta

In [27]:
#26.
s='Arpan GupTa'
count=0
for i in s:
    if i.isupper():
        count=count+1
print(count)

3

In [28]:
#27.
s='Arpan GupTa'
count=0
for i in s:
    if i.islower():
        count=count+1
print(count)

7

In [29]:
#28.
s='Arpan GuPTA'
k=s.swapcase()
print(k)

aRPAN gUpta

In [30]:
#29.
s='You are so good'
user='good'
k=s.split()
k.remove(user)
new_s=' '.join(k)
print(new_s)

You are so

In [31]:
#30.check if a string is a valid email address

In [32]:
#31.
email='arpangupta630@gmail.com'
b=''
for i in email:
    if i!='@':
        b=b+i
    else:
        break
print(b)

arpangupta630

In [33]:
#32.
email='arpangupta630@gmail.com'
for i in range(len(email)):
    if email[i]=='@':
        break
b=''
for j in range(i+1,len(email)):
    if email[j]!='.':
        b=b+email[j]
    else:
        break
print(b)

gmail

In [34]:
#33.
s='my   name is        arpan'
k=s.split()
b=''
for i in k:
    if i!=' ':
        b=b+i+' '
print(b)

my name is arpan

In [35]:
#34.'www.google.com' 'https://www.google.com/3301'
#check if a string is a valid url

In [36]:
#35.'https://localhost:8000'
s='https://localhost:8000'
b=''
for i in s:
    if i!=':':
        b=b+i
    else:
        break
print(b)

https

In [37]:
#36.
s='aabccbc'
f=list(s)                         #first  i converted into the list because sorting
b=s[0]                            #In this line I extract one character from the string 
dic={}
count=0
f.sort()                          #In this line I sorted list 
for i in f:
    if b==i:                     #In this line I match every backward character to the forward character                     
        count=count+1
        b=i                        #this variable stores every backward character
    else:
        dic[b]=count             #end: if character is not matching then i store its total count in dictionary
        b=i                      #this line store current character because loop starts with next character and then from next iteration we can match that character to the next character.
        count=1                #here count =a because its count the current character
        
dic[b]=count    #its store last character count 
print(dic)

{'a': 2, 'b': 2, 'c': 3}

In [38]:
#37.'''!()-[]{};:'"\,<>./?@#$%^&*_~''
ele='''!()-[]{};:'"\,<>./?@#$%^&*_~'''
k=list(ele)
s='Ar[p#$a,n'
for i in s:
    if i in k:
        s=s.replace(i,'')
print(s)

Arpan

In [39]:
#38.
s='1234'
s.isnumeric()

True

In [40]:
#39.
s='alphabets'
s.isalpha()

True

In [41]:
#40.
s='Arpan Gupta'
print(list(s))

['A', 'r', 'p', 'a', 'n', ' ', 'G', 'u', 'p', 't', 'a']

In [42]:
#41.
s1='astrontomer'
s2='moonstarer'
s3=list(s2)
count=0
for i in s1:
    if i in s3:
        s3.remove(i)
        count=count+1
    else:
        break
if count==len(s1):
    print('its a anagram')
else:
    print('its not a anagram')

its not a anagram

In [43]:
#42.
s=input('please enter string')
pos=int(input('please enter positions'))
s1=''
for i in s:
    if i!=' ':
        shift=chr(ord(i)+pos)
        s1=s1+shift
print(s1)

please enter stringHELLO
please enter positions1
IFMMP

In [44]:
#43.

s=input('please enter string')
pos=int(input('please enter positions'))
s1=''
for i in s:
    if i!=' ':
        shift=chr(ord(i)-pos)
        s1=s1+shift
print(s1)

please enter stringIFMP
please enter positions1
HELO

In [45]:
#44.
s='hello world world hello everyone hello mumbai world world'
l=s.split()
l.sort()
count=0
k=l[0]
dic={}
for i in l:
    if k==i:
        k=i
        count=count+1
    else:
        dic[count]=k
        k=i
        count=1
dic[count]=k
max_time=max(list(dic.keys()))
print(dic[max_time],':',max_time)

world : 4

In [46]:
#45.
#hello hello everyone everyone arpan gupta
s='hello hello everyone everyone hello abhinav arpan'
k=s.split()
k.sort()
v=k[0]
count=0
ls=[]
for i in k:
    if v==i:
        count=count+1
        v=i
    else:
        ls.append([count,v])
        v=i
        count=1
ls.append([count,v])
for j in ls:
    if j[0]==1:
        print(j)

[1, 'abhinav']
[1, 'arpan']

In [47]:
#46. 
s="met-a-phon"
k=s.split('-')
print(len(k))

3

In [48]:
#47.
s='pe$ple'
k='''!()-[]{};:'"\,<>./?@#$%^&*_~'''
k=list(k)
for i in s:
    if i in k:
        print(True)
        break

True

In [50]:
#48.
s='hi hello good morning good night'
k=s.split()
user=int(input('please enter nth word'))
word=k[user-1]
k.remove(word)
s=' '.join(k)
print(s)

please enter nth word2
hi good morning good night

In [51]:
#49.
s='hi hello good morning good night'
k=s.split()
user=int(input('please enter nth word'))
word=input('please enter word')
k.insert(user-1,word)
s=' '.join(k)
print(s)

please enter nth word2
please enter wordbad
hi bad hello good morning good night

In [52]:
#50.
s='hi,hello,arpan,gupta,name'
k=s.split(',')
print(k)

['hi', 'hello', 'arpan', 'gupta', 'name']

# List

In [53]:
#1.
k=[]
for i in range(1,10):
    k.append(i)
print(k)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
#2.
count=0
for i in k:
    count=count+1
print(count)

9

In [55]:
#3.
k.append(10)
print(k)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [56]:
#4.
index=int(input('please enter index'))
ele=input('please enter element')
k.insert(index,ele)
print(k)

please enter index1
please enter elementhi
[1, 'hi', 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
#5.
n=[1,2,3,4,5,'e']
ele=input('please enter value')
if ele.isdigit():
    n.remove(int(ele))
else:
    n.remove(ele)
print(n)

please enter value2
[1, 3, 4, 5, 'e']

In [58]:
#6.
n=[1,2,3,4,5]
index1=int(input('please enter index'))
n.pop(index1)
print(n)

please enter index2
[1, 2, 4, 5]

In [59]:
#7
num=3
n=[1,2,3,4,5]
if num in n:
    print(True)
else:
    print(False)

True

In [60]:
#8.
n=[1,2,3,4,5]
k=3
print(n.index(3))

2

In [61]:
#9.
n=[1,1,2,3,4,5,4,5]
f=set(n)
dic={}
for i in f:
    dic[i]=n.count(i)
print(dic)

{1: 2, 2: 1, 3: 1, 4: 2, 5: 2}

In [62]:
#10.
n=[1,2,3,4]
print(n[::-1])

[4, 3, 2, 1]

In [63]:
#11.
n=[1,3,2,5,4,6]
for i in range(len(n)-1):
    if n[i]>n[i+1]:
        temp=n[i]
        n[i]=n[i+1]
        n[i+1]=temp
print(n)

[1, 2, 3, 4, 5, 6]

In [64]:
#sort a list in descending order
n=[1,3,2,5,4,6]
for i in range(len(n)-1):
    if n[i]<n[i+1]:
        temp=n[i]
        n[i]=n[i+1]
        n[i+1]=temp
print(n)

[3, 2, 5, 4, 6, 1]

In [65]:
#13.
k=[i*2 for i in range(1,11)]
print(k)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [66]:
#14.
k=[i for i in range(1,11) if i%2!=0]
print(k)

[1, 3, 5, 7, 9]

In [67]:
#15.
ls=[1,3,4,15]
print(sum(ls))

23

In [68]:
#16.
ls=[1,3,4,15]
print(max(ls))

15

In [69]:
#17.
ls=[1,3,4,15]
print(min(ls))

1

In [70]:
#18.
k=[i**2 for i in range(1,11)]
print(k)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [71]:
#19.
import random as rand
k=[rand.randint(1,50) for i in range(10)]
print(k)

[29, 48, 38, 9, 2, 31, 47, 17, 41, 43]

In [72]:
#20. 
ls=[2,3,4,2,3,4,1]
k=set(ls)
print(list(k))

[1, 2, 3, 4]

In [73]:
#21.
ls1=set([2,3,4,1,5,6])
ls2=set([2,4,5,3,6,1,7])
ls1.intersection(ls2)

{1, 2, 3, 4, 5, 6}

In [74]:
#22.
ls1=set([2,3,4,1,5,6,8,9])
ls2=set([2,4,5,3,6,1,7])
k=list(ls1.difference(ls2))
print(k)

[8, 9]

In [75]:
#23.
ls1=[1,2,3,4,5]
ls2=[7,8,9,0,2]
m=ls1+ls2
print(m)

[1, 2, 3, 4, 5, 7, 8, 9, 0, 2]

In [76]:
#24.
ls=[1,2,3,4,5]
ls2=[]
for i in ls:
    ls2.append(i*2)
print(ls2)

[2, 4, 6, 8, 10]

In [77]:
#25.
ls=[1,2,4,8,5,7]
k=[]
for i in ls:
    if i%2==0:
        k.append(i)
print(k)

[2, 4, 8]

In [78]:
#26.
ls=['1','2','3','5','6','7','8']
k=[]
for i in ls:
    k.append(int(i))
print(k)

[1, 2, 3, 5, 6, 7, 8]

In [79]:
#27.
ls=[str(i) for i in range(1,11)]
print(ls)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [80]:
#28.
ls=[[1,2,3],4,5,[8,9,0]]
k=[]
for i in ls:
    if type(i)==list:
        for j in i:
            k.append(j)
    else:
        k.append(i)
print(k)

[1, 2, 3, 4, 5, 8, 9, 0]

In [81]:
#29.
a=1
b=0
k=[]
k.append(a)
lst=[]
for i in range(9):
    a=a+b
    k.append(a)
    b=a-b
print(k)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [82]:
#30.
l=[1,2,3,4,5,6]
l1=[2,1,3,5,4,7,6]
j=0
count=0
for i in l1:
    if j<=i:
        j=i
        count=count+1
    else:
        break
if count==len(l):
    print('its in sorted order')
else:
    print('not in sorted order')

not in sorted order

In [83]:
#31.
ls=[1,1,2,5,3,8,7]
num=2
output_list=[]
for i in range(num,len(ls)):
    output_list.append(ls[i])
for i in range(num):
    output_list.append(ls[i])
print(output_list)

[2, 5, 3, 8, 7, 1, 1]

In [84]:
#32.
ls=[1,2,5,3,8,7]
new_list=[]
num=2
for i in range(len(ls)-num,len(ls)):
    new_list.append(ls[i])
for j in range(0,len(ls)-num):
    new_list.append(ls[j])
print(new_list)

[8, 7, 1, 2, 5, 3]

In [85]:
#33.
new_list=[]
no=50
count=0
for j in range(1,no+1):
    
    for i in range(1,j+1):
        if j%i==0:
            count=count+1
    if count<=2:
        new_list.append(j)
    count=0
print(new_list)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [86]:
#best approcah to solve prime number in o(n)
num=50
new_list=[1,2,3,5,7]
for i in range(9,num+1):
    if i%2!=0 and i%3!=0 and i%5!=0 and i%7!=0:
        new_list.append(i)
print(new_list)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [87]:
#34  
n=4
ls=[1,2,3,4,5,6,7,8,9,10]
new_list=[]
s=len(ls)//n # first divided by n for extracting a no of elements from the list
i=0
j=0
while i<n:
    new_list.append(ls[j:j+s])      #In this line we extrat a sequence of elements from that element
    j=j+s       #then we add for update a j value
    i=i+1
print(new_list)

[[1, 2], [3, 4], [5, 6], [7, 8]]

In [ ]:
#35.
ls=[2,1,3,7,4,9,10,3,99,54,23,69]
ls.remove(max(ls))
print(max(ls))